body {
	width: 480px;
	margin: 20px auto;
	font-family: Work Sans, arial;
}

.square {
	height: 150px;
	width: 150px;
	border: 1px solid black;
	display: inline-block;
	margin: 0px;
	padding: 0px;

}

.littleDiv {
	display: inline-block;
}

.whoIsUp {
	float: left;
	font-size: 32px;
	margin-left: 4px;
	font-weight: normal;
}

.clearBoard {
	margin: 20px 0px 0px 100px;
	font-size: 24px;
	border-radius: 4px;
	float: right;
}

.xSquare {
	background-color: blue;
	height: 150px;
	width: 150px;
	border: 1px solid black;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.oSquare {
	background-color: red;
	height: 150px;
	width: 150px;
	border: 1px solid black;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}